@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap');

body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;

}

*, 
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.burger {
    display: none;
    padding: 9px 2px;
    background: none;
    border: 0;
    cursor: pointer;

    &__item {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ffffff;

        font-size: 0;
        color: transparent;
        
        position: relative;
        &:before, &:after {
            content: "";
            width: 100%;
            height: 100%;
            
            background-color: #ffffff;

            position: absolute;
            left: 0;
            z-index: 1;
        }
        &:before { 
            top: -8px;
        }
        &:after {
            bottom: -8px;
        }
    }
}



@import 'blocks/intro';
@import 'blocks/features';
@import 'blocks/works';
@import 'blocks/team';
@import 'blocks/reviews';
@import 'blocks/download';
@import 'blocks/footer';
@import 'base/media';









