@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap');

body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;

}

*, 
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.works {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 25%;
        height: 350px;
        position: relative;
        overflow: hidden;

        border-bottom: 1px solid #ffffff;
        border-right:  1px solid #ffffff;

        &:hover .works__content {
            opacity: 1;
        }
        
    }
    &__photo {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;

        transform: translate3d(-50%, -50%, 0);
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        text-align: center;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        background-color: rgba(232, 69, 69, .9);

        transition: opacity .2s linear;
    }
    &__title {
        margin-bottom: 5px;

        font-size: 14px;
        font-weight: 700;
        color:#ffffff;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 14px;
        color:#ffffff;
    }
}


@import 'blocks/intro';
@import 'blocks/features';






