.download {
    margin: 90px 0;
    text-align: center;
    &__title {
        margin-bottom: 10px;
        font-size: 28px;
        color: #2d3033;
        font-weight: 300;
    }
    &__text {
        margin-bottom: 30px;
        font-size: 13px;
        color: #2d3033;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}
.btn--red {
    background-color: #e84545;
    &:hover {
        background-color: #dd3434;
        color:#ffffff;
    }
}
.btn--long {
    min-width:280px;
}