.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    &__item {
        width: 33.33333%;
        padding: 0 40px;
        margin: 25px 0;

        text-align: center;

    }
    &__logo {
        margin-bottom: 25px;
    }
    &__title{
        margin-bottom: 20px;

        font-size: 14px;
        color:#2d3033;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 14px;
        line-height: 1.5;

        color: #6c7279;
    }
}
