.reviews {
    overflow: hidden;
    background-color: #53354a;
    &__slider {
        height: 500px;
        overflow: hidden;
    }
    &__slider.slick-initialized {
        height: auto;
    }
    &__item{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    &__photo {
        width: 50%;
        height: 500px;
        position: relative;
    }
    &__img {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;

        transform: translateY(-50%);
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 80px;
        width: 50%;
    }
    &__text {
        margin-bottom: 20px;
        font-family: "Cardo", sans-serif;
        font-style: italic;
        font-size: 36px;
        line-height: 1.2;
        color: #ffffff;
    }
    &__author {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    
}
.slick-dots li {
    margin: 0 5px;
}
.slick-dots button {
    width: 15px;
    height: 15px;

    background: #ffffff;
    border-radius: 50%;

    border: 0;
    opacity: .5;
    padding: 0;
    cursor: pointer;

    font-size: 0;
    color: transparent;
}
.slick-dots button:focus {
    outline: 0;
}
.slick-dots .slick-active button {
    opacity: 1;
}